body {
  margin: 0;

  font-family: 'Tajawal', sans-serif;
  font-weight: 700;
  background-color:hsl(180, 17.241379310344836%, 77.25490196078431%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


